@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    margin: 20px;
    padding: 0;
    background-image: url(https://i.ibb.co/jy1M5pZ/FUNDO.png);
    font-family: 'Nunito Sans', sans-serif;
  }
  
  nav {
    background-color: #130450;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vw;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 0.8vw;
    border-radius: 5px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.068);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 20px;
  }
  
  a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1.2vw;
    transition: color 0.3s;
    margin-left: 2.2vw;
  }
  
  a.active {
    font-weight: bold;
  }
  
  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .icons {
    display: flex;
    margin-left: 5vw;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .search-btn img {
    width: 1.3vw;
  }
  
  button.profile img {
    width: 1.3vw;
    margin-left: 1vw;
  }
  
  button:hover img {
    animation: zoom 0.3s;
  }
  
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .search-container {
    position: relative;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
  }
  
  .search-container input {
    width: 100%;
    padding: 5px;
    font-size: 1vw;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
.rate h1{
text-align: center;
color: #00E0FF
}


.plays, .plays-1 {
  background: url(https://i.ibb.co/nsbzqd6/image-1.png);
  color: white;
  width: 70vh;
  height: 45vh;
  border-radius: 5vh;
}

.plays h3, .plays2 h3, .plays-1 h3, .plays-2 h3 {
  text-align: center;
} 


.plays2, .plays-2{
  background: url(https://i.ibb.co/h9W7rYr/image-2.png);
  color: white;
  height: 45vh;
  width: 70vh;
  border-radius: 5vh;
}

.rating, .rating-2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  font-size: 3vh;
}

.rating-2{
  margin-top: 10vh;
  transition: transform .2s;
}
